<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shoping</title>
    <link rel="stylesheet" href="/css/bootstrap.css">
    <script src="js/bootstrap.bundle.js"></script>
</head>

<body>
    <!--start navebar-->
    <div class=" position-sticky top-0" style="z-index: 100;">
        <nav class="navbar navbar-expand-lg navbar-dark bg-info">
            <div class="container">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <a class="navbar-brand text-white fs-2 en" href="/products">ForYou</a>
                <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link text-white en" href="/products">Products</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white en" href="/products/categories">Categories</a>
                        </li>
                    </ul>
                    <div>
                        <div class="nav-link text-white" id="ar-btn"><i class="fa fa-language fs-3"
                                aria-hidden="true"></i>
                        </div>
                    </div>
                    <div class="d-flex">
                        <a class="nav-link text-white en" href="login.html">Login</a>
                        <a class="nav-link text-white en" href="register.html">Sign Up</a>
                    </div>
                </div>
            </div>
        </nav>
        <!--end navbar-->

        <!-- Search Bar -->
        <div class="container-fulid position-sticky bg-light px-5 pb-3 pt-4 shadow" id="search">
            <div class="container-lg">
                <form action="/products/search">
                    <div class="input-group">
                        <label class="input-group-text" for="inputGroupSelect01">Product Search:</label>
                        <input name="q" id="search-input" type="search" class="form-control w-50"
                            placeholder="Search anything...">
                        <button id="search-button" type="button" class="btn btn-success px-5">Search</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
<!-- container-->
    <div class="container my-5">
        <div class="row row-cols-1 row-cols-md-4 g-4">
            <% for( let index=0; index < products.length; index++ ) { %>
                <a href="/products/<%= products[index].id %> " class="col text-decoration-none text-dark text-center">
                    <div class="card h-100">
                        <img src="<%= products[index].thumbnail %> " class="card-img-top" alt="...">
                        <div class="card-body position-relative bottom-0">
                            <h5 class="card-title"><%= products[index].title %></h5>
                            <p class="card-text"><%= products[index].description %></p>
                        </div>
                        <div class="card-footer text-center fs-3">
                            <small class="text-muted">
                                $<%= products[index].price %>
                            </small>
                        </div>
                    </div>
                </a>
            <% } %>
        </div>
    </div>
</body>

</html>